@model MainModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @functions {

        string greeting(string prefix)
        {
            return Model.FirstName is null ? $"{prefix} stranger!" : $"{prefix} {Model.FirstName}!";
        }
        
        string getUserDetails()
        {
            return Model.FirstName is null ? "" : $"({Model.FirstName} {Model.LastName})";
        }
    }

    <h1 class="display-4">@greeting("Hello")</h1>
    <p>If you can read this you have successfully integrated with the Tetra Pak Login API!</p>
    <p>USER NAME: @Model.UserName @getUserDetails()</p>
    
    <p>@Html.ActionLink("DETAILS", "Details")</p>

</div>